.about-page {
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.15rem;
    text-align: justify;
    background-image: url('../../assets/images/hero-banner.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

    .heading {
        padding: 2rem 0;
        h1 {
            font-size: 3.35rem;
        }
    }
    .content {
        max-width: 1080px;
        margin: 1rem auto;
        p {
            margin-bottom: 1rem;
        }
        .team {
            .heading {
                font-size: 2rem;
                font-weight: 600;
            }
            .member {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 1rem;
                .image,
                .details {
                    flex: 1;
                }
                .details {
                    padding: 1rem 2rem;
                    text-align: justify;
                    .name {
                        font-weight: 600;
                        font-size: 1.25rem;
                    }
                    .position {
                        color: grey;
                        font-size: 1rem;
                    }
                    .profile {
                        margin-top: .5rem;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1rem;
        text-align: left;
        .heading {
            padding: 1rem 0;
            h1 {
                font-size: 2.65rem;
            }
        }
        .content {
            margin: 0 auto;
            .team {
                .heading {
                    font-size: 1.85rem;
                }
                .member {
                    flex-direction: column;
                    .image,.details {
                        padding: 0rem;
                    }
                    .details {
                        margin-top: .5rem;
                        text-align: unset;
                    }
                }
            }
        }
    }
}