<div class="page-top-spacing about-page">
    <div class="heading text-center">
      <h1>About us</h1>
    </div>
    <div class="content">
      <p>
        <strong>Mivaan</strong> is a pharmaceutical company that concentrates on developing,
        manufacturing and producing a broad range of generic medicine at
        inexpensive prices. We put in our greatest effort to understand the
        needs of our customers. This empowers us to develop quality
        pharmaceutical/ cure-all products. Mivaan has over 100+ products
        being marketed and more than 100+ products under progress.
      </p>
      <p>
        Our portfolio consists of a diverse range of formulations including
        tablets, injectables and creams for both humans and animals. Our
        product portfolio caters to a wide range of curative areas such as
        painkillers, antibiotics, allergy medicine, gastro-enterology
        management, blood pressure management and many more.
      </p>
      <p>
        <strong>Mivaan</strong> has a deep-rooted solidity which lies in providing a distinguishable
        cost advantage to our consumers. As one of the fastest growing
        generic medicine companies in India, our mission is to fulfill our
        commitment to reaching out to as many people as possible and promoting a healthier life.
      </p>
  
  
      <div class="team hide">
        <div class="heading">Meet Our Team</div>
        <div class="member">
          <div class="image">
            <img src="assets/images/team/md.jpg" alt="MD Image" class="img-auto">
          </div>
          <div class="details">
            <div class="name">Pradeep MLN</div>
            <div class="position">Managing Director</div>
            <div class="profile">Meet Pradeep, the man behind the company. He is a multi-crore enterpriser. An innovator,
              visionary, and sharp intellect, he has the rare ability to motivate a workforce. The organisation runs with
              his adept thinking and perception. He is passionate about creating new milestones in innovative businesses.
              He is also a very down-to-earth person. He is set upon building a strong presence for Mivaan in the
              industry.</div>
          </div>
        </div>
        <div class="member">
          <div class="image">
            <img src="assets/images/team/ceo.jpg" alt="MD Image" class="img-auto">
          </div>
          <div class="details">
            <div class="name">Avra Ghosh</div>
            <div class="position">Chief Executive Officer</div>
            <div class="profile">
              Avra has a knack for making strategic decisions for the company. He has a proven track record of increasing
              growth in organisations within a short period of time. With around 25 years of experience, he has in- depth
              knowledge about the changing business environments and markets. His wisdom is insightful and a he is a
              pillar of strength to Mivaan.
            </div>
          </div>
        </div>
        <div class="member">
          <div class="image">
            <img src="assets/images/team/cto.jpg" alt="MD Image" class="img-auto">
          </div>
          <div class="details">
            <div class="name">Nishant Gorle</div>
            <div class="position">Chief Technical Officer</div>
            <div class="profile">
              Nishant has a technological vision for the company. With years of experience, he is an expert at designing
              top-level tech strategy and implementing them. His expertise involves setting up technological platforms,
              implementation of business planning and hands-on research and development. Nishant is responsible for paving
              a roadmap of growth for Mivaan.
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>