<button id="goTop" title="Go to top">
  <i class="fas fa-arrow-up"></i>
</button>

<div class="mobile-orientation-lock">
  <div class="text-center">
    <img src="assets/images/mobile.svg" alt="" class="img-auto">
    <h5>We do not support landscape mode.</h5>
    <h6>Please rotate your device</h6>
  </div>
</div>

<nav id="navbar" class="fixed">
  <div class="my-container">
    <a class="brand" [routerLink]="['/']">
      <img class="img-auto logo" src="assets/images/logo.png" id="normal-logo">
    </a>
    <button class="mobile-icon-wrapper" id="mobileMenuWrapper">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="nav-wrapper" id="navWrapper">
      <div class="close-mobile-nav" id="closeMobileNav">
        &times;
      </div>
      <ul>
        <li>
          <a (click)="closeMobileMenu()" [routerLink]="['/']" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li>
          <a (click)="closeMobileMenu()" [routerLink]="['/about']" routerLinkActive="active">About</a>
        </li>
        <li>
          <a (click)="closeMobileMenu()" [routerLink]="['/products']" routerLinkActive="active">Products</a>
        </li>
        <li>
          <a (click)="closeMobileMenu()" [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="main-container" [@routeAnimation]="getRoutersData(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>

<footer class="padding">
  <div class="social-container">
    <ul class="social-list-wrapper">
      <li>
        <a href="https://www.facebook.com/Mivaan-1602477669855855/" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/Mivaan2" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/aindhri_innovations/" class="hide" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/mivaan-pharmatech-36266317a/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCvPjyGCiBIwsNYxKC09o9XQ" target="_blank">
          <i class="fab fa-youtube"></i>
        </a>
      </li>
    </ul>
  </div>
  <p class="copy-right">
    &copy; {{currentYear}}. {{companyName}}
  </p>
</footer>