<div class="min-height-100 hero">
    <div class="hero-text">
      <!-- <h1>We make products <br>you would love to use</h1> -->
      <h1>For all your <br> <strong class="hero-highlight">pharmaceutical</strong> needs</h1>
    </div>
  </div>
  
  <div class="home-about">
    <div class="content">
      <h1>Doing now what patients need next.</h1>
      <p>We believe it’s urgent to deliver medical solutions right now – even as we develop innovations for the future. We
        are passionate about transforming patients’ lives. We are ourageous in both decision and action. And we believe
        that good business means a better world.</p>
      <button [routerLink]="['/about']" class="btn btn-brand">Know More</button>
    </div>
  </div>
  
  <div class="home-products">
    <div class="product" *ngFor="let cat of categories | slice:0:4; let i = index">
      <div class="item odd" *ngIf="!(i%2)">
        <div class="image">
          <img src="{{cat.image}}" alt="" class="img-auto">
        </div>
        <div class="content">
          <div class="center">
            <h1>{{cat.name}}</h1>
            <p>
              {{cat.tagline}}
            </p>
            <a routerLink="/category/{{cat.id}}" class="btn btn-cat-link">See Products</a>
          </div>
        </div>
      </div>
      <div class="item even" *ngIf="i%2">
  
        <div class="content">
          <div class="center">
            <h1>{{cat.name}}</h1>
            <p>
              {{cat.tagline}}
            </p>
            <a routerLink="/category/{{cat.id}}" class="btn btn-cat-link">See Products</a>
          </div>
        </div>
  
        <div class="image">
          <img src="{{cat.image}}" alt="" class="img-auto">
        </div>
  
      </div>
    </div>
    <div class="view-all-wrapper">
      <a routerLink="products" class="btn btn-brand">View All</a>
    </div>
  </div>